

html,
body,
#root {
  height: 100%;
}


.ant-menu-inline-collapsed .ant-menu-submenu-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529;
}

.ant-menu-item.ant-menu-item-only-child {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ant-menu-item,
.ant-menu-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-menu-submenu-title > span {
  display: inline-block;
}

/* Custom styles for the sidebar toggle button */

.sidebar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


